<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>360 Tour Admin Page</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/lightbox.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Yönetici Paneli</a>
            </div>
            <ul class="nav navbar-right top-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Sinan Bora <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
                        <li>
                            <div class="pull-right">
                                    <form method="post" action="logout">
                                        <input type="submit" name="logout" class="btn btn-default btn-flat" value="Çıkış">
                                    </form>
                                </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="\admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-edit"></i> Form İçin Alan</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Yönetim Paneli
                            </li>
                        </ol>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i></h3>
                            </div>
                            <div class="panel-body">
                                <div id="divFotografEkle" class=" col-sm-12">
                                    <div class="row">
                                        <div id="ResimBilgileri" class="col-sm-6"> 
                                                <div class="col-sm-4">
                                                    <label for="">Resim Yükle : </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <form id="formResimYukle" action="/yukle/resimyukle" method="post" enctype="multipart/form-data">
                                                        <div class="col-sm-9 fileUpload btn btn-primary">
                                                            <span>Sec</span>
                                                            <input id="inpResimYukle" type="file" name="image" accept="image/*" class="upload"/>
                                                        </div>
                                                        <div class="col-sm-3">
                                                        <input id="btnYukle" type="submit" class="btn btn-danger pull-right" value="Yukle">
                                                        </div>
                                                    </form>    
                                                </div>
                                                
                                        </div>
                                        
                                        <div id="360TurResimBilgileri" class="col-sm-6"> 
                                            <div class="col-sm-4">
                                                <label for="">360 tur Fotoğraf Yükle : </label>
                                            </div>
                                            <div class=" col-sm-8">
                                                <form id="formResimYukle" action="/yukle/resimyukle" method="post" enctype="multipart/form-data">
                                                    <div class="col-sm-9 fileUpload btn btn-primary">
                                                        <span>Sec</span>
                                                        <input id="inpResimYukle" type="file" name="image" accept="application/*" class="upload"/>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="btnYukle" type="submit" class="btn btn-danger pull-right" value="Yukle">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="">Resmin Adı : </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input id="inpAd" type="text" class="form-control required">  
                                        </div>
                                        
                                    </div>
                                      <br>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="">Şehir Adı : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="inpSehir" type="text" class="form-control ">                                             
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="">Ülke Adı : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="inpUlke" type="text" class="form-control">  
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="">Resmin Kategorisi : </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <select id="slctKategori" class="form-control">
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <button id="btnKategoriSil" class="btn btn-default" style="margin-left:-30px;">Sil</button>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                                <input id="inpKategoriEkle" type="text" class="form-control" placeholder="Yeni Kategori Ekle..">
                                                <span id="btnKategoriEkle" class=" btn btn-default input-group-addon">Ekle</span> 
                                            </div>
                                        </div>
                                    </div>  
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="">Açıklama :</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <textarea id="txtAciklama" class="form-control" rows="3" style="resize:vertical;"></textarea>
                                        </div>
                                    </div> 
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button id="btnEkle" class="btn btn-primary pull-right"> Ekle</button>
                                        </div>

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Tablo</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table id="tblFotoListeleAdmin" class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>FOTOĞRAF</th>
                                                    <th>AD</th>
                                                    <th>ŞEHİR</th>
                                                    <th>ÜLKE</th>
                                                    <th>KATEGORİ</th>
                                                    <th>EKLENME TARİHİ</th>
                                                    <th>AÇIKLAMA</th>
                                                    <th>OPERASYON</th>
                                                </tr>
                                            </thead>
                                             <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>

    </div>
    
    <div class="modal fade" id="mdl_güncelle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
                    <h4 class="modal-title">Güncelle</h4>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">ID : </label>
                        </div>
                        <div class="col-sm-10">
                            <h5 id="h5GuncelleId"></h5>  
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Adı : </label>
                        </div>
                        <div class="col-sm-10">
                            <input id="inpGuncelleAd" type="text" class="form-control">  
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Sehir : </label>
                        </div>
                        <div class="col-sm-4">
                            <input id="inpGuncelleSehir" type="text" class="form-control">  
                        </div>
                        <div class="col-sm-2">
                            <label for="">Ulke : </label>
                        </div>
                        <div class="col-sm-4">
                            <input id="inpGuncelleUlke" type="text" class="form-control">  
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Kategorisi : </label>
                        </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <select id="slctGuncelleKategori" class="form-control">
                                   
                                </select>
                            </div>
                        </div>
                    </div>  
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Açıklama :</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea id="txtGuncelleAciklama" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button id="btnGuncelle" type="button" class="btn btn-primary" data-dismiss="modal">Değişiklikleri Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.uploadfile.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/helper.js"></script>
    <script src="js/admin.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
   
</body>

</html>
