<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>360 Tour Admin Page</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/prettify.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-wysihtml5.css"></link>
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/lightbox.css" rel="stylesheet" type="text/css">
    <link href="/css/share.css" rel="stylesheet" type="text/css">
    <link href="/css/alertify.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/alertify.core.css" rel="stylesheet" type="text/css">
    <link href="/css/alertify.default.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/comment.css">
    
    

</head>

<body>
     <% include anacerceve.ejs %>
     <% include yonetici.ejs %>
     <% include hesapAyarlari.ejs %>
     <% include reklamAyarlari.ejs %>
     <% include yorumlar.ejs %>
     <% include metaTagDuzenle.ejs %>
     
    <!-- /#wrapper -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.uploadfile.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/alertify.min.js"></script>
    <script src="/js/360Tur/helper.js"></script>
    <script src="/js/360Tur/admin.js"></script>
    <script src="/js/360Tur/hesapAyarlari.js"></script>
    <script src="/js/360Tur/reklamAyarlari.js"></script>
    <script src="js/360Tur/yorumlar.js"></script>
    <script src="js/360Tur/metaTagDuzenle.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wysihtml5-0.3.0.js"></script>
    <script src="js/prettify.js"></script>
    <script src="/js/bootstrap-wysihtml5.js"></script>
    <script>
        $('.textarea').wysihtml5();
    </script>

    <script type="text/javascript" charset="utf-8">
        $(prettyPrint);
    </script>
    <script>
        $('[data-toggle="tooltip"]').tooltip({
            'placement': 'top'
        });
    </script>
   
</body>

</html>
