<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>360 Tour</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
   <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><i class="icon-home"></i></a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </header><!--/#header-->


    <section>
        <div class="container">
            <div class="box">
               <br>
                <div class="center">
                    <h2>Almanya Kalesi</h2>
                </div>
                <div class="gap">
                       <div class="row">
                            <div class="col-md-12 text-center">
                                <img class="img-responsive img-thumbnail" src="<%=fotograf.url%>" alt="" style="max-height:400px; width:100%">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <p ><%=fotograf.aciklama%></p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Anasayfaya geri dön</button></div>
                        </div>
                </div>
                
            </div>
        </div>
    </section><!--/#about-us--> 
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2014 <a target="_blank" href="http://mavikentbilisim.com/">Sanki Ordayım</a>. Bütün Hakları Saklıdır.
                </div>
                <div class="col-sm-6">
                    <a href="http://mavikentbilisim.com/"><img class="pull-right" src="images/mavikent_bilisim_logo2.png" alt="Mavikent Bilişim" title="Mavikent Bilişim"></a>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>    
    <script src="/js/360Tur/helper.js"></script>
    <script src="/js/360Tur/anasayfa.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>