<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>360 Tour</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
   <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><i class="icon-home"></i></a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </header><!--/#header-->


    <section>
        <div class="container">
            <div class="box">
               <br>
                <div class="center">
                    <h2>Almanya Kalesi</h2>
                </div>
                <div class="gap">
                       <div class="row">
                            <div class="col-md-12 text-center">
                                <img class="img-responsive img-thumbnail" src="images/slider-bg.jpg" alt="" style="max-height:400px; width:100%">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat sodales mi ac congue. Maecenas mollis, dui id porta scelerisque, mauris ante ultrices magna, ut fermentum dolor mi at elit. Nullam pharetra laoreet maximus. Pellentesque in nulla ut quam sollicitudin ultrices. Vestibulum sit amet quam placerat, viverra tellus sed, facilisis felis. Vestibulum et urna viverra felis vulputate tincidunt sit amet sed ex. Sed vestibulum blandit fringilla. Nunc quis tortor a elit rhoncus pretium a non diam. Duis vulputate mi sed urna consectetur ullamcorper. Donec tincidunt libero id mi blandit, nec placerat diam sollicitudin. Fusce pharetra dictum ipsum euismod ultrices. Vivamus felis enim, commodo at viverra quis, egestas sed purus. Vivamus eu est ut arcu efficitur scelerisque.</p>

<p>Vivamus quis dui eu nisi euismod varius. Morbi dignissim lacus ex, id tincidunt nulla venenatis nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque dignissim tempus eros. Aliquam dui dui, bibendum ac ante vitae, blandit aliquet arcu. Suspendisse nec porttitor quam. Nullam finibus lectus quis justo malesuada gravida. Quisque tincidunt eros id leo efficitur ornare. Ut sed tincidunt ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean bibendum orci elit, sed gravida eros varius quis. Morbi eget diam eu ipsum vestibulum pharetra quis et metus. Mauris quis lobortis diam. Nulla id blandit purus, sed sodales nisl. Sed tincidunt placerat erat quis tempus. Morbi sed facilisis libero.</p>

<p>Vestibulum ullamcorper lacus mi, eu sollicitudin sapien dignissim at. Praesent aliquam vehicula neque sed pulvinar. Praesent sed ornare magna, non egestas odio. Aliquam sit amet sapien est. Nunc et odio eu turpis venenatis iaculis. Donec venenatis pellentesque viverra. Vestibulum eget lorem lacus.</p>

<p>Donec placerat augue quis nisl bibendum, ac eleifend risus malesuada. Praesent egestas fringilla ullamcorper. Fusce sed venenatis magna. Nullam volutpat odio vitae porta rhoncus. Integer blandit arcu a nisi lacinia volutpat. In porta justo sit amet augue blandit ornare. In tempus velit non condimentum pellentesque. Nunc commodo libero non massa feugiat volutpat. Nam eget mattis quam. Praesent a est viverra, lobortis libero nec, feugiat ipsum. Pellentesque dictum maximus tortor, fermentum mollis odio tempor et. Duis ornare sagittis malesuada. Morbi condimentum leo non nisl tincidunt, et cursus elit consectetur. Sed facilisis vehicula ipsum. Sed ut nisi porta, viverra arcu ac, faucibus sem.</p>

<p>Morbi ullamcorper erat mi, eu suscipit magna pulvinar id. Nulla pellentesque vulputate nibh, vitae commodo turpis maximus sit amet. Quisque gravida leo consequat leo sagittis, commodo pretium diam dapibus. Curabitur vestibulum turpis a finibus dapibus. Maecenas elementum eros ac lorem efficitur varius. Duis elit tortor, accumsan sed pharetra a, vulputate fringilla mi. Sed et porttitor nulla, vel accumsan mauris. Nulla pulvinar ipsum eu sapien viverra, feugiat euismod orci egestas. Donec scelerisque augue id porttitor aliquam. Ut nisl massa, facilisis a vulputate non, sodales in orci. Morbi volutpat convallis hendrerit. Duis vitae quam malesuada, mattis odio vel, molestie nisl. Aenean porttitor efficitur risus, et pellentesque ipsum bibendum quis.</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Anasayfaya geri dön</button></div>
                        </div>
                </div>
                
            </div>
        </div>
    </section><!--/#about-us--> 
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2014 <a target="_blank" href="http://mavikentbilisim.com/">Sanki Ordayım</a>. Bütün Hakları Saklıdır.
                </div>
                <div class="col-sm-6">
                    <a href="http://mavikentbilisim.com/"><img class="pull-right" src="images/mavikent_bilisim_logo2.png" alt="Mavikent Bilişim" title="Mavikent Bilişim"></a>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>    
    <script src="js/360Tur/helper.js"></script>
    <script src="js/360Tur/anasayfa.js"></script>
    <script src="js/main.js"></script>
</body>
</html>