<div id="wrapper" style="display: none;" class="ayarlar admin">
    <div class="well1">
        <br>
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li class="active">Hesap Ayarları
                    </li>
                </ol>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="">ID : </label>
                            </div>
                            <div class="col-sm-10">
                                <h5 id="h5" sytle="display:none"></h5>
                            </div>
                        </div>
                        <br>                        
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="">Adınız : </label>
                            </div>
                            <div class="col-sm-10">
                                <input id="inpKullaniciAd" type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="">Soyadınız : </label>
                            </div>
                            <div class="col-sm-10">
                                <input id="inpKullaniciSoyad" type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="">Şifre : </label>
                            </div>
                            <div class="col-sm-10">
                                <input id="inpKullaniciSifre" type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="btnAyarlarGuncelle" class="btn btn-primary pull-right">Güncelle</button>
                            </div>
                        </div>
                        

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
