<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <section class="container">
        <div class="login">
            <h1>Sanki Ordaydım Giriş Paneli</h1>
            <form method="post" action="/login">
                <p><input type="text" name="ad" value="" placeholder="Adınızı giriniz"></p>
                <p><input type="text" name="soyad" value="" placeholder="Soyadınız giriniz"></p>
                <p><input type="password" name="password" value="" placeholder="Şifrenizi giriniz"></p>
                <p class="inpBeniHatirla">
                      <label>
                        <input type="checkbox" name="inpBeniHatirla" id="inpBeniHatirla">
                        Beni Hatırla
                      </label>
                </p>
                <p class="submit"><input type="submit" name="commit" value="Giris Yap"></p>
            </form>
        </div>
        <div class="login-help">
            <p>Sorun mu var ? Admin ile gorusunuz</p>
        </div>

    </section>
</body>
</html>
