<ul id="menu">
    <li><a href="/" title="Anasayfa">Anasayfa</a></li>
    <li><a href="/" title="Kategoriler">Kategoriler</a> 
 <ul>
    <li><a id="urlTarihi" class="kategori">tarihi</a></li>
    <li><a  id="urlDoga"  class="kategori">doga</a></li>
 </ul>      
</li>
    <li><a href="/hakkinda" title="Hakkında">Hakkında</a></li>
</ul>