<div id="wrapper" style="display: none;" class="meta">
    <div class="well1" style="height: 100vh;">
        <br>
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>Meta Tag Ayarları
                    </li>
                </ol>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                <label for="">Sayfa Seçiniz : </label>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-10">
                  <div class="form-group">
                     <select class="form-control ">
                                <option value="">Seçiniz</option>
                                <option value="">Anasayfa</option>
                                <option value="">Fotoğraf İncele Sayfası</option>
                    </select>
                 </div>
             </div>
           </div>
        </div>
              <div class="row">
              <div class="col-sm-2">
                <label for="">Meta Adı :</label>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-10">
                  <div class="form-group">
                     <select class="form-control metaElemanlari ">
                         <option value="">Seçiniz</option>
                         <%for(var i=0;i<metaElemanlariList.length;i++){%>
                            <option value="<%=metaElemanlariList[i].metaElemani%>"><%=metaElemanlariList[i].metaElemani%></option>
                         <%}%>
                    </select>
                 </div>
                </div>
                <div class="col-sm-2">
                <button id="btnMetaElemaniSil" class="btn btn-danger" >Sil</button>
                </div>
            </div>
            <form id="frmMeta" action="/metaelemanlari/ekle" method="post">
            <div class="col-sm-6">
                <div class="col-sm-10">
               <div class="form-group">
                  <input id="inpMetaElemaniEkle" type="text" name="metaElemani" class="form-control" placeholder="Yeni Meta Elemanı Giriniz Ekle.." >
                   </div>
                 </div>
                 <div class="col-sm-2">
                 <input id="btnMetaElamaniekle" type="submit" class="btn btn-success" value="Ekle"> 
                </div>
               </div>
             </form>
           </div>               
        <br>
        <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <label for="">İçerik:</label>
                    </div>
                    <div class="col-md-10">
                        <textarea rows="6" style="resize:vertical" class="form-control"></textarea>
                    </div>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <button class="btn btn-success pull-right">Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Meta Tag Listesi</h3>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                             <div class="col-md-12">
                                 <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sayfa Adı</th>
                                            <th>Meta Adı</th>
                                            <th>İçerik</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Anasayfa</td>
                                            <td>keywords</td>
                                            <td>Panaroma</td>
                                        </tr>
                                        <tr>
                                            <td>Fotoğraf incele</td>
                                            <td>Description</td>
                                            <td>En güncel 360 tour resimlerini bulabileceğiniz ücretsiz bir site</td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                        </div>              
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>