<div id="wrapper" style="display: none;" class="meta">
    <div class="well1" style="height: 100vh;">
        <br>
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>Meta Tag Ayarları
                    </li>
                </ol>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="col-sm-4">
                        <label for="">Sayfa Seçiniz : </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control ">
                                <option value="">Seçiniz</option>
                                <option value="">Anasayfa</option>
                                <option value="">Fotoğraf İncele Sayfası</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-sm-4">
                        <label for="">Meta Adı : </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control ">
                                <option value="">Seçiniz</option>
                                <option value="">Abstract (Site Özeti)</option>
                                <option value="">Author (Ad,E-posta)</option>
                                <option value="">Description (Site geniş bilgi)</option>
                                <option value="">Keywords (Anahtar kelimeler)</option>
                                <option value="">Author (Ad,E-posta)</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label for="">İçerik:</label>
                    </div>
                    <div class="col-md-10">
                        <textarea rows="6" style="resize:vertical" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <button class="btn btn-success pull-right">Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Meta Tag Listesi</h3>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                             <div class="col-md-12">
                                 <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sayfa Adı</th>
                                            <th>Meta Adı</th>
                                            <th>İçerik</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Anasayfa</td>
                                            <td>keywords</td>
                                            <td>Panaroma</td>
                                        </tr>
                                        <tr>
                                            <td>Fotoğraf incele</td>
                                            <td>Description</td>
                                            <td>En güncel 360 tour resimlerini bulabileceğiniz ücretsiz bir site</td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                        </div>              
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>