<div id="wrapper" style="display: none;" class="reklam admin">
    <div id="page-wrapper" style="margin-top:-20px;">
        <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 pull-right">

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>Reklamlar Ayarları
                    </li>
                </ol>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 pull-right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw">Reklam Yönetim Paneli</i></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <select id="slctReklamYeri" class="form-control">
                                    <option value="Anasayfa Sol">Anasayfa Sol</option>
                                    <option value="Anasayfa Sağ">Anasayfa Sağ</option>
                                    <option value="Fotograf İncele Sol">Fotograf İncele Sol</option>
                                    <option value="Fotograf İncele Sağ">Fotograf İncele Sağ</option>
                                    <option value="Fotograf Başlık Altı Sol">Fotograf Başlık Altı Sol</option>
                                    <option value="Fotograf Başlık Altı Sağ">Fotograf Başlık Altı Sağ</option>
                                </select>
                            </div>
                            <div class="col-sm-7">
                                <textarea id="txtReklamSrc" type="text" class="form-control"></textarea>
                            </div>
                            <div class="col-sm-2">
                                <input id="btnReklamSrcEkle" type="button" class="btn btn-info" value="Ekle">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="tblReklam" class="table table-bordered table-hover table-striped">
                                     <thead>
                                         <tr>
                                            <th>Eklenme Yeri</th>
                                            <th class="hidden-xs">Reklam Kaynağı </th>
                                            <th>OPERASYON</th>
                                         </tr>
                                    </thead>
                                     <tbody>
                                     </tbody>
                             </table>  
                            
                            </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>