<div id="wrapper" style="display: none;" class="yorum">
    <div class="well1" style="height: 100vh;">
        <br>
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>Yorumlar Takip
                    </li>
                </ol>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw">Yorumlar Yönetim Paneli</i></h3>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                             <div class="col-md-12">
                                 <table id="tblYorum" class="table table-bordered ">
                                     <tr>
                                         <td class="col-md-2">Ad Soyad</td>
                                         <td class="col-md-9">Yorum</td>
                                         <td class="col-md-1">Operasyon</td>
                                     </tr>
                                     <tr>
                                         <td>Sinan BORA</td>
                                         <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae facilis, recusandae modi enim necessitatibussdadasdsd dsfdfdf f df dfd fdffdf </td>
                                         <td>
                                             <button class="btn btn-success" data-toggle="tooltip" title="Onayla"><span class="glyphicon glyphicon-ok"></span></button>
                                             <button class="btn btn-danger" data-toggle="tooltip" title="Sil"><span class="glyphicon glyphicon-remove"></span></button>
                                         </td>
                                     </tr>
                                 </table> 
                             </div>
                        </div>              
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
