<div id="wrapper" style="display: none;" class="yorum">
    <div class="well1" style="height: 100vh;">
        <br>
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>Yorumlar Paneli
                    </li>
                </ol>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw">Yorumlar Yönetim Paneli</i></h3>
                    </div>
                        <br>
                        <div class="row">
                            <table id="tblYorum" class="table table-bordered table-hover table-striped">
                                 <thead>
                                     <tr>
                                        <th>Eklenme Yeri</th>
                                        <th>Reklam Kaynağı </th>
                                        <th>OPERASYON</th>
                                     </tr>
                                </thead>
                                 <tbody>
                                     
                                 </tbody>
                         </table>               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
